
.content{
	width:100%;
	min-width: 1200px;
	margin:0 auto;
	z-index: 1;
}
.content_box{
	width:1200px;
	margin:0 auto;
	padding:20px 0 30px;
	overflow: hidden;
	position: relative;

}
.content_banner{
	width: 1200px;
	height: 610px;
	margin: 0 auto;
	padding: 0 0 20px;
	position: relative;
	overflow: hidden;
}
.content_banner1{
	width: 1200px;
	height: 610px;
	margin: 0 auto;
	overflow: hidden;
}
img{
	vertical-align: middle;
	border:0;
}
.content_shortcut{
	width: 1170px;
	margin: 0 auto;
	height: 86px;
	padding: 0 0 20px 30px;
}
.content_shortcut a{
	float: left;
	display: block;
	width: 250px;
	height: 86px;
	margin: 0 60px 0 0;
	background: url(../img/shortcut3.jpg) no-repeat;
}
.content_shortcut .shortcut4{
	width:215px;
	margin:0;
}
.content_shortcut .shortcut1{
	background-position: 0 0;
}
.content_shortcut .shortcut1:hover{
	background-position: -8px 0;
}
.content_shortcut .shortcut2{
	background-position: -250px 0;
}
.content_shortcut .shortcut2:hover{
	background-position: -258px 0;
}
.content_shortcut .shortcut3{
	background-position: -745px 0;
}
.content_shortcut .shortcut3:hover{
	background-position: -747px 0;
}
.content_shortcut .shortcut4{
	background-position: -985px 0;
}
.content_shortcut .shortcut4:hover{
	background-position: -993px 0;
}
.content_goods{
	width:1200px;
	margin:0 auto;
}
.content_goods h3{
	padding:0 0 20px;
	text-align:center;
}
.content_goods ul{
	overflow: hidden;
	margin:0 0 40px;
}
.content_goods ul li{
	margin:0;
	width:400px;
	float: left;
}
.content_goods ul li a{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	background: #fff;
	line-height: 0;
}

.content_beats{
	width:1200px;
	margin:0 auto;
}
.content_beats h3{
	padding:0 0 20px;
	text-align:center;
}
.content_beats ul{
	overflow: hidden;
}
.content_beats ul li{
	float: left;
	width: 600px;
	height:300px;
	margin: 0 0 40px;
}
.content_beats ul li a{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	color: #fff;
	line-height: 0;
}
.content_beats ul li a .pic{
	width: 600px;
	height: 300px;
	vertical-align: middle;
}
.content_beats ul li a p{
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 80px;
	margin: -40px 0 0;
	text-align: center;
}
.content_sale{
	width:1200px;
	margin:20px 0 auto;
}
.content_sale h3{
	padding:0 0 20px;
	text-align: center;
}
.content_sale li{
	float: left;
	width: 400px;
	height:300px;
	margin: 0 0 40px;
}
.content_sale li a{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	line-height: 0;
}
.content_sale .pic{
	width:400px;
	height:300px;
}
.content_sale li a p{
	position: absolute;
	left: 0;
	bottom: 20px;
}
.clear{
	clear:both;
}
.content_auto{
	width: 1200px;
	margin: 0 auto;
	padding: 20px 0 50px;
	overflow: hidden;
}
.content_auto a{
	display: block;
	background: #fff;
}
.content_auto img{
	opacity: 1;
}
.content_find h3{
    padding: 0 0 20px;
    text-align: center;
}
.find_list{
	width: 1217px;
	overflow: hidden;
	margin: 0 auto 20px;
}
.find_list li{
	float: left;
	width: 287px;
	margin: 0 17px 20px 0;
}
.find_list li a{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}
.find_list li a p{
	position: absolute;
	left: 0;
	top: 0;
	width: 285px;
	height: 488px;
	border: 1px solid #efefef;
}
